<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="menustyles.css">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="menuscript.js"></script>
   <title>Administrator Homepage</title>
</head>
<body>

<div id='cssmenu'>
<ul>
   <li><a href='#'>Home</a></li>
   <li><a href='#'>Contests</a></li>
   <li><a href='#'>Coaches</a></li>
   <li class='active has-sub'><a href='#'>Participants</a>
      <ul>
         <li><a href='#'>Teams</a></li>
         <li><a href='#'>Team Members</a></li>
      </ul>
   </li>
   <li><a href='#'>Videos</a></li>
</ul>
</div>
    

<p style=" color:white; position: absolute; top: 0; right: 0; width: 100%; text-align: right; margin-right: 85px">irvinek@cis.fiu.edu</p>
<p style=" color:white; position: absolute; top: 0; right: 0; width: 100%; text-align: right; margin-right: 72px">|</p>
<p style=" color:white; position: absolute; top: 0; right: 0; width: 100%; text-align: right; margin-right: 10px">Log Out</p>

</body>
<html>