<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="../../css/menustyles.css">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="../../javascript/menuscript.js"></script>
   <title>Login Page</title>
</head>
<body>

<!-- Script that controls pop-up recover pw window -->
<script language="javascript" type="text/javascript">
function popup(url) {
	newwindow=window.open(url,'name','resizable=no, scrollbars=no,top=200,left=500,height=225,width=375');
	return false;
}
</script>

<!-- Form to enter the login info -->
<div id='loginform'>
     <form name="loginform" action="../../jsp/loginCheck.jsp" style="margin-top: 85px">
        Email:<br>
        <input type="text" name="email"><br>
        Password:<br>
        <input type="password" name="pw"><br>
        <input type="submit" value="Log In">
     </form>
</div>

<!-- Scrip that controls pop-up recover pw window -->
<div id='recoverytext'>
    <a href="recoverpw.html" onclick="popup('recoverpw.html')" id="recoverpwlink" style="position:absolute; top:0; right: 0; margin-top:155px; margin-right:20%"><b>Forgot password?</b></p>
</div>
    
</body>
<html>