<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="../../css/menustyles.css">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="../../javascript/menuscript.js"></script>
   <title>Login Page</title>
</head>
<body>

<script language="javascript" type="text/javascript">
function popup(url) {
	newwindow=window.open(url,'name','resizable=no, scrollbars=no,top=600,left=500,height=400,width=400');
	//if (window.focus) {newwindow.focus()}
	return false;
}
</script>
    
<div id='cssmenu'>
<ul>
   <li><a href="../../../index.html">Home</a></li>
   <li><a href="guestcontests.html">Contests</a></li>
   <li><a href="guestvideos.html">Videos</a></li>
</ul>
</div>
        
<div id='loginform'>
     <form style="margin-top: 85px">
        Email:<br>
        <input type="text" name="email"><br>
        Password:<br>
        <input type="text" name="password"><br>
        <input type="submit" value="Log In">
     </form>
</div>
    
<div id='recoverytext'>
    <a href="recoverpw.html" onclick="popup('recoverpw.html')" id="recoverpwlink" style="position:absolute; top:0; right: 0; margin-top:260px; margin-right:150px"><b>Forgot password?</b></p>
</div>
    
</body>
<html>